## Importando os documentos e as bibliotecas necessárias

In [1]:
#from google.colab import files
#uploaded = files.upload()
#upando os arquivos em xlsx

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests

## Pré-processamento dos dados

In [3]:
data_train = pd.read_excel('abalone_dataset.xlsx')
data_test = pd.read_excel('abalone_app.xlsx')

In [8]:
data_train.head()

  sex  length  diameter  ...  viscera_weight  shell_weight  type
0   M   0.535     0.420  ...          0.1530        0.2400     3
1   I   0.510     0.380  ...          0.1135        0.1660     1
2   I   0.185     0.130  ...          0.0075        0.0095     1
3   M   0.550     0.450  ...          0.1570        0.2200     3
4   I   0.535     0.415  ...          0.1350        0.2250     1

[5 rows x 9 columns]

In [9]:
data_test.head()

  sex  length  diameter  ...  shucked_weight  viscera_weight  shell_weight
0   M   0.600     0.480  ...          0.4125          0.2735        0.4150
1   F   0.545     0.385  ...          0.5425          0.2445        0.2845
2   F   0.645     0.520  ...          0.5775          0.3520        0.3170
3   M   0.640     0.510  ...          0.5670          0.3070        0.4090
4   F   0.655     0.540  ...          0.6950          0.2960        0.4440

[5 rows x 8 columns]

In [11]:
data_train.sex.unique()

array(['M', 'I', 'F'], dtype=object)

In [12]:
data_test.sex.unique()

array(['M', 'F', 'I'], dtype=object)

### Arredondando os valores

In [6]:
data_train.round(4)

     sex  length  diameter  ...  viscera_weight  shell_weight  type
0      M   0.535     0.420  ...          0.1530        0.2400     3
1      I   0.510     0.380  ...          0.1135        0.1660     1
2      I   0.185     0.130  ...          0.0075        0.0095     1
3      M   0.550     0.450  ...          0.1570        0.2200     3
4      I   0.535     0.415  ...          0.1350        0.2250     1
...   ..     ...       ...  ...             ...           ...   ...
3127   F   0.545     0.405  ...          0.2070        0.3800     3
3128   M   0.655     0.525  ...          0.2215        0.4450     3
3129   I   0.450     0.340  ...          0.1075        0.1200     1
3130   F   0.520     0.410  ...          0.1835        0.2350     3
3131   F   0.640     0.480  ...          0.2345        0.3530     2

[3132 rows x 9 columns]

In [7]:
data_test.round(4)

     sex  length  diameter  ...  shucked_weight  viscera_weight  shell_weight
0      M   0.600     0.480  ...          0.4125          0.2735        0.4150
1      F   0.545     0.385  ...          0.5425          0.2445        0.2845
2      F   0.645     0.520  ...          0.5775          0.3520        0.3170
3      M   0.640     0.510  ...          0.5670          0.3070        0.4090
4      F   0.655     0.540  ...          0.6950          0.2960        0.4440
...   ..     ...       ...  ...             ...             ...           ...
1040   I   0.430     0.350  ...          0.1705          0.0855        0.1100
1041   F   0.475     0.360  ...          0.1695          0.0810        0.1400
1042   F   0.500     0.405  ...          0.2530          0.1260        0.1850
1043   I   0.380     0.275  ...          0.1060          0.0485        0.2100
1044   M   0.590     0.475  ...          0.4545          0.2440        0.3095

[1045 rows x 8 columns]

### Convertendo string para inteiro

In [16]:
def string2int(sex):
  if sex == 'M':
    sex = 0
  elif sex == 'F':
    sex = 1
  else:
    sex = 2
  return sex

data_train['sex'] = data_train.sex.apply(string2int)
data_test['sex'] = data_test.sex.apply(string2int)

In [19]:
data_test.head()

   sex  length  diameter  ...  shucked_weight  viscera_weight  shell_weight
0    0   0.600     0.480  ...          0.4125          0.2735        0.4150
1    1   0.545     0.385  ...          0.5425          0.2445        0.2845
2    1   0.645     0.520  ...          0.5775          0.3520        0.3170
3    0   0.640     0.510  ...          0.5670          0.3070        0.4090
4    1   0.655     0.540  ...          0.6950          0.2960        0.4440

[5 rows x 8 columns]

In [4]:
##alterar p servidor das coisas de validação
'''
print(' - Aplicando modelo e enviando para o servidor')
abalone_app = pd.read_csv('https://github.com/audreyemmely/mlclass/blob/master/03_Validation/abalone_app.csv')
data_app = data_app[feature_cols]
y_pred = neigh.predict(data_app)

# Enviando previsões realizadas com o modelo para o servidor
URL = "https://aydanomachado.com/mlclass/03_Validation.php"

#TODO Substituir pela sua chave aqui
DEV_KEY = "shantay u stay"

# json para ser enviado para o servidor
data = {'dev_key':DEV_KEY,
        'predictions':pd.Series(y_pred).to_json(orient='values')}

# Enviando requisição e salvando o objeto resposta
r = requests.post(url = URL, data = data)

# Extraindo e imprimindo o texto da resposta
pastebin_url = r.text
print(" - Resposta do servidor:\n", r.text, "\n")
'''

'\nprint(\' - Aplicando modelo e enviando para o servidor\')\nabalone_app = pd.read_csv(\'https://github.com/audreyemmely/mlclass/blob/master/03_Validation/abalone_app.csv\')\ndata_app = data_app[feature_cols]\ny_pred = neigh.predict(data_app)\n\n# Enviando previsões realizadas com o modelo para o servidor\nURL = "https://aydanomachado.com/mlclass/03_Validation.php"\n\n#TODO Substituir pela sua chave aqui\nDEV_KEY = "shantay u stay"\n\n# json para ser enviado para o servidor\ndata = {\'dev_key\':DEV_KEY,\n        \'predictions\':pd.Series(y_pred).to_json(orient=\'values\')}\n\n# Enviando requisição e salvando o objeto resposta\nr = requests.post(url = URL, data = data)\n\n# Extraindo e imprimindo o texto da resposta\npastebin_url = r.text\nprint(" - Resposta do servidor:\n", r.text, "\n")\n'